<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
  <head>
    <title>Employee Information</title>
  </head>
  <body>
    <div th:fragment="form">
    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <input type="text" th:field="*{username}"/>
    <input type="text" th:field="*{email}"/>
    <input type="text" th:field="*{password}"/>
    <button name="new" type="submit" value="1">submit</button>
    </form>
    </div>
  </body>
</html>