<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Timeoff Management System</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header">
    </div>
    <div class="container">
      <div layout:fragment="content">
        <h1>Static content for prototyping purposes only</h1>
        <p>
        	Timeoff Management Layout Template
        </p>
      </div>
      <div th:replace="fragments/footer :: footer">@ 2014 The Static Templates</div>
    </div>
  </body>
</html>