<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
  <head>
    <title>Employee Information</title>
  </head>
  <body>
    <div layout:fragment="content">
    <ol>
        <li th:text="|${user.domainName}|">name</li>
        <li th:text="|${user.username}|">name</li>
        <li th:text="|${user.email}|">email</li>
        <li th:text="|${user.password}|">email</li>
    </ol>
    </div>
  </body>
</html>