<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
  <head>
    <title>Employee Information</title>
    <link href="/assets/css/signin.css" rel="stylesheet"/>
  </head>
  <body>
    <div layout:fragment="content">
    <form class="form-signin" role="form" action="/register.html" method="post" th:attr="action=@{/register}">
        <h2 class="form-signin-heading" th:text="#{login.pleaseRegister}">Please sign in</h2>
        <input type="text" class="form-control" th:placeholder="#{login.cooperation}" id="cooperation" name="cooperation"/>	
        <input type="text" class="form-control" th:placeholder="#{login.username}" id="username" name="username"/>	
        <input type="email" class="form-control" th:placeholder="#{email}" id="email" name="email"/>	
        <input type="password" class="form-control" th:placeholder="#{login.password}" id="password" name="password"/>	
        <input type="hidden" name="csrfName" th:name="${_csrf.parameterName}"
               value="csrfToken" th:value="${_csrf.token}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.register}">Register</button>
    </form>
    </div>
  </body>
</html>